Requirements

A few extra libraries are needed to run the macro.
To add these libraries in the VBA editor, open menus 'Tools' -> 'References' and make sure the following are selected from the list.

- Visual Basic for Applications
- Microsoft Word 16.0 Object Library
- Ole Automation
- Microsoft Office 16.0 Object Library
- Microsoft Visual Basic For Applications Extensibility 5.3
- Microsoft Scripting Runtime
